<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Example</title>
    <link rel="stylesheet" href="/static/login_link_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
</head>
<body>

    <nav>
        <img src="/static/logo.jpg" class="logo">
        <div class="navlinks">
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="home#about">About</a></li>
                <li><a href="home#contact">Contact</a></li>
                <li><a href="login-link">Login</a></li>
                <img src="/static/pfpaa.jpg" class="pfp">
            </ul>
        </div>
    </nav>



    <div class="card-container">
        <div class="card">
            <img src="/static/money haath.avif" alt="Card Image 1">
            <h3>Lender</h3>
            <p>Put your cycle on rent.</p>
            
            <a href="home">Login</a>
        </div>

        <div class="card">
            <img src="/static/cycle login link.avif" alt="Card Image 2">
            <h3>Borrower</h3>
            <p>Get yourself a cycle.</p>
            <a href="login-borrower">Login</a>
        </div>
    </div>
    
</body>
</html>