<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Project</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">

    <!--FONTS LINKS-->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Oswald:wght@300&display=swap"
        rel="stylesheet">
    <!-- Icon Links-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Oswald:wght@300&display=swap" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="/static/style_Page1.css">
    <link rel="stylesheet" href="/static/style_Page2.css">
    <link rel="stylesheet" href="/static/style_Page3.css">
    <link rel="stylesheet" href="/static/style_Page4.css">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/search.css' rel='stylesheet'>
    <style>
        p span {
            display: block;
        }
    </style>
</head>

 <body>
    <header>

    <!---------------------------------------------- Page 1 content---------------------------------------------------------------------->
    
    <!-- Navbar -->
    <nav>
        <img src="/static/logo.jpg" class="logo">
        <div class="navlinks">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="login-link">Login</a></li>
                <img src="/static/pfpaa.jpg" class="pfp">
            </ul>
        </div>
    </nav>

    <!-- Slogan -->
    <div class="header-content" id="home">
        <h2>Better Cycles for</h2>
        <h2>Your Better</h2>
        <h2>Journey</h2>
        <a class="rideNow-btn" href="cycles">Ride Now!</a>
    </div>
    </header>

    <!---------------------------------------------- Page 2 content---------------------------------------------------------------------->

    <!-- search for bikes -->
    <section class="searchBox">
        <h2 class="sh">CHOOSE YOUR CYCLE</h2>
        <h2 class="hs">Best Trips With Our</h2>
        <h2 class="hs">Best Bikes</h2>
    </section>

    <!--Hovering thing for types of bikes-->
    <div class="wrapper">
        <div class="main_container" id="cycles">
            <img src="/static/Normal Cycle.png">
            <div class="overlay">
                <h1>Normal</h1><h1>Bicycle</h1>
            </div>
        </div>
    
        <div class="main_container">
            <img src="/static/Gear Cycles 2.png" >
            
            <div class="overlay">
                <h1>Gear</h1><h1>Cycle</h1>
            </div>
        </div>
    
        <div class="main_container">
            <img src="/static/Mountain Bike.png">
            <div class="overlay">
                <h1>Mountain</h1><h1>Bike</h1>
            </div>
        </div>
    </div>


    <div class="about-us" id="about">
        <div class="about-us-heading-container">
            <h1 class="about-us-heading">Our Aim</h1>
        </div>
        <div class="about-us-main"> 
            <img class="about-us-pic" src="/static/about_us_pic.png" alt="">
            <p class="about-us-about">our goal is to create a platform that facilitates students in colleges specially having campuses as big as vit, to ease their movements from one corner to another.we have planned to do so by building a cycle renting platform which will lets people rent their cycles which otherwise goes unused for days. The ones who don't want to buy cycles but also want to use it on occasions can come on the platform and see the options of cycles available and can choose one which they find the best.</p>
        </div>
    </div>

    <!---------------------------------------------- Page 3 content---------------------------------------------------------------------->

    <!-- search for bikes -->
    <section class="searchBox" id="aboutt">
        <h2 class="hs-team">Teammates</h2>

    <!--Hovering thing for types of bikes-->
    <div class="wrapper2">
        <div class="main_container2">
            <img class="tmpf" src="/static/achintya.jpg">
            <div class="overlay">
                <h1>Achintya</h1>
            </div>
        </div>
    
        <div class="main_container2">
            <img class="tmpf" src="/static/aryan.jpg">
            <div class="overlay">
                <h1>Aryan</h1>
            </div>
        </div>
    
        <div class="main_container2">
            <img class="tmpf" src="/static/shanush.jpg">
            <div class="overlay">
                <h1>Shanush</h1>
            </div>
        </div>

        <div class="main_container2">
            <img class="tmpf" src="/static/anurav.jpg">
            <div class="overlay">
                <h1>Anurav</h1>
            </div>
        </div>

        <div class="main_container2">
            <img class="tmpf" src="/static/lokesh.jpg">
            <div class="overlay">
                <h1>Lokesh</h1>
            </div>
        </div>

    </div>

    <!----------------------------------------------page-4 end---------------------------------------------------------------------->
    <footer class="footer-distributed" id="contact">

        <div class="footer-left">
            <h3>Python<span> Project</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">About</a>
                |
                <a href="#">Contact</a>
            </p>

            <p class="footer-company-name">Copyright © 2023 <strong>GO TO HELLL</strong> All chocolates reserved</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>VIT, Vellore Campus</span>
                    Tiruvalam Rd, Katpadi, Vellore, Tamil Nadu 632014</p>
            </div>

            <div>
                <br>
                <i class="fa fa-phone"></i>
                <p>+91 123456789</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:python_project.co@gmail.com">xyz@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                <strong>Python Project</strong> is our project (❁´◡`❁)
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </footer>
 </body>
</html>
